& {
    --navigator-throbber-background: rgb(255, 255, 255);
    --navigator-throbber-background-image: url("chrome://spyglass/content/ie6/xp/throbber/throbber.png");
    --navigator-throbber-busy-background-image: url("chrome://spyglass/content/ie6/xp/throbber/throbber-busy.png");
}