#toolbar-menubar {
    #menubar-items {
        padding-block-start: 1px !important;
    }
    
    :root:not([spyglass-toolbars-locked="true"]) & {
        toolbargrippy {
            margin-inline-end: 4px !important;
        }
    }

    spacer {
        visibility: collapse !important;
    }

    #history-menu {
        display: none !important;
    }
}

@media (-moz-windows-classic) {
    menubar {
        & > menu {
            color: MenuText !important;
            border: 0 !important;
            background-color: transparent !important;
            padding: 3px 8px !important;

            &:-moz-window-inactive {
                color: ThreeDShadow !important;
            }

            &[_moz-menuactive="true"] {
                box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;

                &[open="true"] {
                    box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow !important;
                    padding-top: 4px !important;
                    padding-left: 9px !important;
                    padding-bottom: 2px !important;
                    padding-right: 7px !important;
                }
            }

            & > .menubar-text {
                margin: 0 !important;
            }
        }
    }
}