$toolbarbutton-visible-text: "#back-button", "#search-button", "#history-panelmenu", "#favorites-button";

:root {
    --toolbarbutton-small-icon-size: 16px !important;
    --toolbarbutton-large-icon-size: 20px !important;

    --toolbarbutton-icon-size: var(--toolbarbutton-small-icon-size) !important;

    &[spyglass-appearance-toolbar-large="true"] {
        --toolbarbutton-icon-size: var(--toolbarbutton-large-icon-size) !important;
    }

    &:not([spyglass-appearance-toolbar-mode="2"], [inFullscreen]) {
        @each $toolbarbutton in $toolbarbutton-visible-text {
                #{$toolbarbutton} {
                    .toolbarbutton-text {
                        display: flex !important;
                    }
                }
        }
    }
}

.toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
    appearance: auto !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    text-shadow: none !important;

    @media (-moz-windows-classic) {
        & {
            &:not([disabled="true"]) {
                &:hover {
                    box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
                }

                &:hover:active {
                    box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow !important;
                }

                &[open="true"],
                &[checked="true"] {
                    box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow, inset 0 0 0 2px -moz-Dialog !important;
                }

                &[checked="true"]:not(:hover) {
                    // HACK FOR CHECKERBOARD
                    background-image: conic-gradient(-moz-Dialog 90deg, ThreeDHighlight 90deg 180deg, -moz-Dialog 180deg 270deg, ThreeDHighlight 270deg) !important;
                    background-repeat: repeat !important;
                    background-size: 2px 2px !important;
                    background-position: top left !important;
                }
            }
        }
    }

    &[disabled="true"]:not([type="menu"]) {
        opacity: 1 !important;
        color: ThreeDShadow !important;
        text-shadow: none !important;
        filter: drop-shadow(1px 1px ThreeDHighlight) !important;

        .toolbarbutton-icon {
            filter: url("chrome://spyglass/content/ie5/disabled-icon-filter.svg#disabledIcon") !important;
        }
    }

    &[type="menu"] {
        opacity: 1 !important;
    }

    .toolbarbutton-text {
        min-height: 0 !important;
    }

    .toolbarbutton-icon,
    .toolbarbutton-badge-stack > .toolbarbutton-icon {
        width: var(--toolbarbutton-small-icon-size) !important;
        height: var(--toolbarbutton-small-icon-size) !important;
    }

    .toolbarbutton-icon,
    .toolbarbutton-text,
    .toolbarbutton-badge-stack {
        padding: 0 !important;
        border-radius: 0 !important;
        background-color: transparent !important;
    }

    .toolbarbutton-icon-dropmarker {
        align-items: center !important;
    }
}

@media (-moz-windows-classic) {
    toolbarbutton:not([type="menu"]) {
        .toolbarbutton-menu-dropmarker {
            width: 5px !important;
            height: 5px !important;
            fill: Buttontext !important;
            list-style-image: url("chrome://spyglass/content/ie5/arrow.svg") !important;
            margin-inline-start: 2px !important;
        }

        .toolbarbutton-icon-dropmarker {
            .toolbarbutton-menu-dropmarker {
                margin-inline: 0 !important;
            }
        }
    }

    .toolbarbutton-1[type="menu"] {
        padding: 0 !important;
        appearance: none !important;

        &:not([disabled="true"]) {
            &:hover, &:hover:active, &[open="true"], &[checked="true"] {
                box-shadow: none !important;
            }
        }

        &:not([disabled="true"]) {
            &:hover > .toolbarbutton-1 {
                box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
            }

            &:hover:active > .toolbarbutton-1 {
                box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow !important;
            }

            &[open="true"] > .toolbarbutton-1,
            &[checked="true"] > .toolbarbutton-1 {
                box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow, inset 0 0 0 2px -moz-Dialog !important;
            }

            &[checked="true"]:not(:hover) > .toolbarbutton-1 {
                // HACK FOR CHECKERBOARD
                background-image: conic-gradient(-moz-Dialog 90deg, ThreeDHighlight 90deg 180deg, -moz-Dialog 180deg 270deg, ThreeDHighlight 270deg) !important;
                background-repeat: repeat !important;
                background-size: 2px 2px !important;
                background-position: top left !important;
            }
        }

        .toolbarbutton-menu-dropmarker {
            -moz-context-properties: fill !important;
            width: 13px !important;
            content: none !important;
            list-style-image: none !important;
            background-image: url("chrome://spyglass/content/ie5/arrow.svg") !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            pointer-events: all !important;
            height: 100% !important;
            align-items: center !important;
            fill: Buttontext !important;

            &[disabled="true"] {
                fill: ThreeDShadow !important;
                filter: drop-shadow(1px 1px ThreeDHighlight) !important;
            }

            &:not([disabled="true"]) {
                .toolbarbutton-1[type="menu"]:hover & {
                    box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
                }

                .toolbarbutton-1[type="menu"]:hover:active & {
                    box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow !important;
                }

                .toolbarbutton-1[type="menu"][open="true"] & {
                    box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow, inset 0 0 0 2px -moz-Dialog !important;
                }
            }
        }
    }

    .toolbarbutton-menu-dropmarker {
        -moz-context-properties: fill !important;
        padding-inline: 4px !important;
        list-style-image: url("chrome://spyglass/content/ie5/arrow.svg") !important;
        pointer-events: all !important;
        height: 100% !important;
        align-items: center !important;
        fill: Buttontext !important;

        &[disabled="true"] {
            fill: ThreeDShadow !important;
            filter: drop-shadow(1px 1px ThreeDHighlight) !important;
        }

        &:not([disabled="true"]) {
            .toolbarbutton-1[type="menu"]:hover & {
                box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
            }

            .toolbarbutton-1[type="menu"]:hover:active & {
                box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow !important;
            }

            .toolbarbutton-1[type="menu"][open="true"] & {
                box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDShadow, inset 0 0 0 2px -moz-Dialog !important;
            }
        }
    }
}

@media not (-moz-windows-classic) {
    .toolbarbutton-1[type="menu"] {
        padding: 0 !important;
        appearance: none !important;
    }
}